.card .icon{
  color: #28d8d8;
  font-size: 35px;
  }
  .card .card-text{
    color: gray;
  }
  .card:hover{
  background-color:#DCFEEB ;
  color: #050505;
  }
  .card:hover .icon,
  .card:hover .card-text{
    color: #0e0d0d;
  }
  .card{
    transition:all 0.3s;
    margin-bottom: 15px
  }

    a {
        text-decoration: none; 
        color: #e4dfd2; 
        font-weight: bold;
    }
    .bg-image {
      position: relative;
  }

  .bg-image .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.25); 
      z-index: 1; 
  }

  .container {
      position: relative;
      z-index: 2; 
  }
  .image {
    position: relative;
    overflow: hidden; 
    display: block;
}

.image img {
    width: 50%;
    height: auto;
    display: block;
}


.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease;
}


.image:hover .content {
    opacity: 1;
}

/* journey creating memories */

.timeline-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 32px;
  color: #00838f;
  font-weight: bold;
}

.timeline-event {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.timeline-event:nth-child(even) {
  flex-direction: row-reverse;
  text-align: left;
}

.timeline-year {
  flex: 0 0 150px;
  font-size: 32px;
  font-weight: bold;
  color: #00838f;
  text-align: center;
}

.timeline-content {
  flex: 1;
  padding: 0 20px;
  text-align: left;
  color: #757575;
  font-size: 18px;
}

.timeline-image img {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
/* Showcase service */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  background-color: rgb(245, 245, 245);
  padding: 50px 0;
  display: grid;
  place-items: center;
}

.heading {
  font-size: 27px;
  font-weight: 500;
  color: rgb(31, 137, 212);
  position: relative;
  margin-bottom: 80px;
}

.heading_line::after {
  position: absolute;
  content: '';
  width: 50%;
  height: 4px;
  left: 50%;
  bottom: -5px;
  background-image: linear-gradient(to right, rgb(13, 168, 219), rgb(44, 196, 223));
  transform: translateX(-50%);
}

.container {
  width: 70%;
  margin: auto;
  position: relative;
  padding: 40px 0;
}
.container_line {
  position: relative; 
}

.container_line::after {
  position: absolute;
  content: '';
  width: 2px;
  height: 100%;
  background-image: linear-gradient(to bottom, rgb(46, 149, 233), rgb(33, 175, 240));
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 0;
}

.container ul {
  list-style: none;
  position: relative;
  z-index: 1;
}

.container ul li {
  width: 50%;
  padding: 15px 20px;
  background-color: #fff;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

.container ul li:nth-child(odd) {
  float: left;
  clear: right;
  transform: translateX(-30px);
  text-align: right;
}

.container ul li:nth-child(even) {
  float: right;
  clear: left;
  transform: translateX(30px);
}

.title {
  font-size: 22px;
  font-weight: 500;
  color: rgb(31, 152, 120);
}

ul li p {
  font-size: 15px;
  color: #444;
  margin: 7px 0;
  line-height: 23px;
}

ul li a {
  font-size: 15px;
  color: rgb(19, 173, 150);
  text-decoration: none;
}

ul li .date {
  position: absolute;
  top: -40px;
  left: 20px;
  width: 135px;
  height: 35px;
  border-radius: 20px;
  color: #fff;
  background-image: linear-gradient(to right, rgb(24, 135, 203), rgb(55, 160, 221));
  display: grid;
  place-items: center;
  font-size: 14px;
  z-index: 2;
}



@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  .container_line::after {
    left: 20px;
    transform: none;
  }

  .container ul li {
    width: 100%;
    float: none !important;
    transform: none !important;
    text-align: left !important;
    margin-left: 0;
  }

  .container ul li .circle {
    left: -15px !important;
    transform: none !important;
  }

  .container ul li .date {
    left: 50px;
  }
}

/* Director card */
.directors-section {
  text-align: center;
  padding: 40px 20px;
}

.directors-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 20px;
}

.director-card {
  width: 700px;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.director-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius:50%;
  margin-bottom: 20px;
}

.director-card h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.director-card p {
  color: #666;
  margin-bottom: 20px;
}

/* Flip card */
 

.wrapper {
  height: 300px;
  width: 320px;
  perspective: 1000px;
}
.card {
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}
.wrapper:hover .card {
  transform: rotateY(180deg);
}
.front-face,
.back-face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  background: #eceff0;
  overflow: hidden;
}
.front-face img {
  width: 150px;
  height: 150px;
 border-radius: 50%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.back-face img{
height: 150px;
width: 150px;
border-radius: 50%;
}
.back-face {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: justify;
  padding: 10px;
  font-size: 14px;
}
.title {
  font-size: 30px;
  font-weight: 500;
}
img {
  display: block;
  margin: 0 auto;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
} 

/* Grid for Core management */
/* .main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-card {
  position: relative;
  width: 220px;
  height: 220px;
  background: #fff;
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: 0.6s;
}
.profile-card:hover{
  border-radius: 10px;
  height: 260px;
}
.profile-card .img{
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.6s;
  z-index: 99;
}
.profile-card:hover .img{
  transform: translateY(-60px)
}
.img img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336; 
  transition: 0.6s;
}
.profile-card:hover .img{
  border-radius: 10px;
}
.caption{
  text-align:center;
  transform: translateY(-80px);
  opacity: 0;
  transition: 0.6s;
}
.profile-card:hover .caption{
  opacity: 1;
}
.caption p{
  font-size: 17px;
  margin: 2px 0 6px 0;
} */
