.card .icon{
  color: #28d8d8;
  font-size: 35px;
  }
  .card .card-text{
    color: gray;
  }
  .card:hover{
  background-color:#DCFEEB ;
  color: #050505;
  }
  .card:hover .icon,
  .card:hover .card-text{
    color: #0e0d0d;
  }
  .card{
    transition:all 0.3s;
    margin-bottom: 15px
  }