.card .icon{
  color: #28d8d8;
  font-size: 35px;
  }
  .card .card-text{
    color: gray;
  }
  .card:hover{
  background-color:#DCFEEB ;
  color: #050505;
  }
  .card:hover .icon,
  .card:hover .card-text{
    color: #0e0d0d;
  }
  .card{
    transition:all 0.3s;
    margin-bottom: 15px
  }

    a {
        text-decoration: none; 
        color: #e4dfd2; 
        font-weight: bold;
    }
    .bg-image {
      position: relative;
  }

  .bg-image .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.25); 
      z-index: 1; 
  }

  .container {
      position: relative;
      z-index: 2; 
  }
  